/**
 * font-family: 'Roboto Slab', serif;
 * font-family: 'Coustard', serif;
 * 
 * hover:   c95151
 * laranja: ffbb00
 * 
 */


/**
 * ==================================================
 * GERAL/TIPOGRAFIA =================================
 * ==================================================
 * 
 * 
 */
body {
	color:#c95151;
	font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
}
h1, .h1 {
	font-size:30px;
	font-weight:400;
}
h2, .h2 {
	font-size:20px;
}
a {
	color:#c95151;
}
a:hover, a:focus {
	color:#c95151;
	text-decoration:underline;
}
.screen-reader-text {
	display:none;
}


/**
 * ==================================================
 * OVERWRITE:MAIN BOOTSTRAP =========================
 * ==================================================
 * Sobrepor regras do main.css e bootstrap.css
 * 
 */
body > section, 
#boxed > section {
	padding:30px 0;
}

/**
 * Remover gutter de determinadas colunas
 * @link http://stackoverflow.com/a/21282059
 */
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}



/**
 * ==================================================
 * MENU DESKTOP =====================================
 * ==================================================
 *
 *
 */
#logo-header {
	background-position:center top;
	background-size:100% auto;
	background-repeat:no-repeat;
	display:block;
	padding:0;
	text-indent:-999999px;
}
#box-menu-top {
	background:url('../images/bg-pattern-1.png') repeat top left;
	font-family: 'Coustard', serif;
}
.navbar-inverse .navbar-nav>li a {
	background-color:#ffbb00;
	color:#fff;
}
.navbar .navbar-main .dropdown-menu > li > a {
	background-color:#c95151;
	color:#fff;
}
.navbar .navbar-main > li:focus > a, 
.navbar .navbar-main > li:active > a, 
.navbar .navbar-main > li:hover > a, 
.navbar .navbar-main > li.active > a, 
.navbar .navbar-main > li.active:hover > a, 
.navbar .navbar-main > li.open > a, 
.navbar .navbar-main > li.open:hover > a {
	background-color:#c95151;
	color:#fff;
}
.navbar .navbar-main .dropdown-menu {
	background-color:#c95151;
}
.navbar .navbar-main .dropdown-menu > li:hover > a, 
.navbar .navbar-main .dropdown-menu > li:focus > a, 
.navbar .navbar-main .dropdown-menu > li.active > a {
	background:rgba(255, 255, 255, 0.15);
}



/**
 * ==================================================
 * MENU RESPONSIVO ==================================
 * ==================================================
 * 
 * 
 */
body.locked {
	height:100%;
	overflow:hidden;
}
body.locked #mobile-menu {
	overflow:auto;
}
#mobile-menu {
	height:auto;
}
.container>.navbar-header,
.container>.navbar-collapse {
	position:relative;
}
.navbar-toggle {
	margin:0;
	position:absolute;
	right:15px;
	top:10px;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	background:#c95151;
	border-color:#c95151;
}
#mobile-menu,
#mobile-menu a {
	background-color:#c95151;
	color:#fff;
}
#mobile-menu .navbar-nav {
	margin:0;
}
#mobile-menu a:hover,
#mobile-menu a:focus {
	background:rgba(255, 255, 255, 0.15);
}
#mobile-menu .sub-menu {
	padding:0;
}
#mobile-menu .sub-menu li {
	list-style:none;
}
#mobile-menu .sub-menu li a {
	background-image:url('../images/ico/ico-categories.png');
	background-repeat:no-repeat;
	background-position:left center;
	background-position: left 13px top 9px;
	padding-left: 40px;
}
#mobile-menu .navbar-collapse {
	max-height: none;
}
#mobile-menu .menu-toggler {
	height:40px;
	position:absolute;
	top:0;
	right:0;
	width:100%;
}
#mobile-menu .menu-toggler i {
	float:right;
	padding:0 10px;
}



/**
 * ==================================================
 * OWL SLIDER =======================================
 * ==================================================
 * 
 * 
 */
.owl-controls {
	position:absolute;
	bottom:0;
	left:50%;
	margin:0 0 0 -150px;
	width:300px;
}
.owl-carousel .item {
	background-color:rgba(0,0,0,0.2);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
.owl-carousel .item-xs,
.owl-carousel .item-sm,
.owl-carousel .item-md {
	display:none;
}
.owl-carousel .item .item-image {
	background-repeat:no-repeat;
	background-position:center center;
	height:409px;
}
@media screen and (max-width:1200px) {
	.owl-carousel .item-md {
		display:block;
	}
	.owl-carousel .item-lg {
		display:none;
	}
	.owl-carousel .item .item-image {
		height:409px;
	}
}
@media screen and (max-width:767px) {
	.owl-carousel .item-sm {
		display:block;
	}
	.owl-carousel .item-md {
		display:none;
	}
	.owl-carousel .item .item-image {
		height:409px;
	}
}
@media screen and (max-width:479px) {
	.owl-carousel .item-xs {
		display:block;
	}
	.owl-carousel .item-sm {
		display:none;
	}
	.owl-carousel .item .item-image {
		background-size:100% auto;
		height:245px;
	}
}

/*
#slider-item-0 {background-image:url('../images/slider/slider-1.png');}
#slider-item-1 {background-image:url('../images/slider/1.jpg');}
#slider-item-2 {background-image:url('../images/slider/2.jpg');}
#slider-item-3 {background-image:url('../images/slider/3.jpg');}
*/
#main-slider .prev, 
#main-slider .next {
	background:rgba(201, 81, 81, 0.5);
}
#main-slider .prev:hover, 
#main-slider .next:hover, 
.owl-theme .owl-controls .owl-page span {
	background:#c95151;
}



/**
 * ==================================================
 * HOME:SERVICES ====================================
 * ==================================================
 * 
 * 
 */
#services {
	background:url('../images/bg-pattern-2.png') repeat bottom left;
	color:#c95151;
}
#services .media {
	position:relative;
}
#services .media a {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#services .media .icon-md {
	background-color:#ffbb00;
}
#services .media:hover {
	text-decoration:underline;
}
#services .media:hover .icon-md {
	background-color:#ffbb00;
}
.icon-libras {
	background-image:url('../images/ico/ico-libras.png');
}
.icon-cidade {
	background-image:url('../images/ico/ico-cidade.png');
}
.icon-calendario {
	background-image:url('../images/ico/ico-calendario.png');
}



/**
 * ==================================================
 * HOME:FOTOS ==========================================
 * ==================================================
 * 
 * 
 */
#home-photos {
	background:url('../images/bg-pattern-1.png') repeat top left ;
	color:#fff;
}
#home-photos h3 {
	font-size:20px;
}
#home-photos .call-to-action a {
	color:#fff;
}
#home-photos .portfolio-item h5 {
	color:#c95151;
	font-size:13px;
	font-weight:normal;
}
#home-photos #owl-home-photos .item img {
	width:100%;
}
#home-photos #owl-home-photos.owl-carousel .item {
	background-color:transparent;
	height:auto;
	padding:0 10px;
}
#home-photos #owl-home-photos.owl-carousel .item .inner {
	background:#fff;
	border:1px solid #eee;
	padding:10px;
}
#home-photos #owl-home-photos.owl-carousel .item .inner .caption {
	color:#c95151;
	font-size:13px;
	margin-top:8px;
	min-height:36px;
}



/**
 * ==================================================
 * HOME:TESTIMONIALS ================================
 * ==================================================
 * 
 * 
 */
#testimonial {
	background-color:#c95151;
	color:#fff;
}
#testimonial blockquote {
	border-color:#ffbb00;
}
#testimonial blockquote p {
	font-size:14px;
}
#testimonial blockquote small {
	font-size:12px;
}



/**
 * ==================================================
 * HOME:TESTIMONIALS ================================
 * ==================================================
 * 
 * 
 */
#sponsors {
	background-color:#fffaeb;
	color:#c95151;
}
#sponsors blockquote {
	border-color:#ffbb00;
}
#sponsors blockquote img {
	display:inline-block;
}



/**
 * ==================================================
 * PAGE:GERAL =======================================
 * ==================================================
 * 
 * 
 */
.page-head {
	background:#c95151;
	color:#fff;
	font-family: 'Coustard', serif;
	font-size:22px;
	padding:15px 0 20px;
}



/**
 * ==================================================
 * SOBRE ============================================
 * ==================================================
 * 
 * 
 */
#chamada-1 {
	font-size:24px;
	line-height:27px;
	margin:35px 0;
}
#chamada-2 {
	font-size:16px;
	margin:30px 0;
}
#img-sobre {
	float:right;
	margin-right:-30px;
}
#sobre-chamadas-secundarias {
	background-color:#ffbb00;
	margin-top:-110px;
	padding:30px 0;
}
#chamada-3 {
	color:#fff;
	font-size:19px;
	font-weight:bold;
	padding-left:110px;
	position:relative;
}
#chamada-3 .ico {
	background:#c95151 url('../images/ico/ico-sobre-balao.png') no-repeat center center;
	border-radius:50%;
	height:80px;
	width:80px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-40px;
}
#sobre-info {
	background-color:#c95151;
	color:#fff;
	padding:20px 0;
}
#sobre-info .ico-sobre-balao-grande {
	margin:0 auto;
	max-width:30vw;
}
#sobre-info h1,
#sobre-info h2 {
	color:#ffbb00;
}
#sobre-info .espetaculo-recurso {
	border-left:4px solid #ffbb00;
	padding:0 0 15px 25px;
}
#sobre-info .espetaculo-recurso h2 img {
	display:inline-block;
	vertical-align:bottom;
}



/**
 * ==================================================
 * BLOG =============================================
 * ==================================================
 * 
 * 
 */
.blog-box {
	background:url('../images/bg-pattern-2.png') repeat center top;
}
.blog-box .hentry {
	margin:25px 0;
	padding:0;
}
.blog-box .hentry .entry-header {
	padding:30px 30px 0;
}
.blog-box .hentry .entry-header h1,
.blog-box .hentry .entry-header h2 {
	font-size:22px;
	font-weight:bold;
	margin-top:0;
}
.blog-box .hentry .entry-header p {
	color:#000;
	font-size:12px;
	margin:0;
}
.blog-box .hentry .entry-content {
	padding:20px 30px 30px;
}
.blog-box .nav-links {
	margin:25px 0;
	overflow:hidden;
	position:relative;
}
.blog-box .nav-links a {
	background:#c95151;
	border-radius:4px;
	color:#fff;
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	padding:10px 15px;
}
.blog-box .nav-links a:hover {
	background:#ffbb00;
	border-color:#ae4343;
	text-decoration:none;
}
.blog-box .nav-links a span {
	display:inline-block;
	font-size:24px;
	line-height:0;
}
.blog-box .nav-links .nav-previous {
	float:right;
	text-align:right;
	width:50%;
}
.blog-box .nav-links .nav-previous a {
	margin-left:5px;
}
.blog-box .nav-links .nav-next {
	float:left;
	width:50%;
}
.blog-box .nav-links .nav-next a {
	margin-right:5px;
}
.blog-box .clipping-data {
	background-color:#c95151;
	color:#fff;
	font-size:15px;
	margin:15px 0;
	padding:15px 30px;
}
.blog-box .clipping-data ul,
.blog-box .clipping-data ul li {
	list-style:none;
	margin:0;
	padding:0;
}
.blog-box .testimonial-author {
	font-style:italic;
}
.blog-box .testimonial-author:before {
	content:'\2014 \00A0';
}



/**
 * ==================================================
 * PAGINAÇÂO ========================================
 * ==================================================
 * 
 * 
 */
.pagination {
	display:block;
	font-size:18px;
	text-align:center;
}
.pagination li {
	
}
ul.pagination > li > a, 
ul.pagination > li > span {
	background:#c95151;
	border-right:2px solid #ae4343;
	color:#fff;
	float:none;
	margin:0;
}
ul.pagination > li:last-child > a, 
ul.pagination > li:last-child > span {
	border:none;
}
ul.pagination > li:hover a {
	background:#ffbb00;
}
ul.pagination > li.active span,
ul.pagination > li.active:hover span {
	background:#ffbb00;
	border-color:#ae4343;
}



/**
 * ==================================================
 * SIDEBAR ==========================================
 * ==================================================
 * 
 * 
 */
.sidebar {
	padding-top:25px;
	padding-bottom:25px;
}
.sidebar.sidebar-xs {
	padding-top:0;
	padding-bottom:0;
}
.sidebar .categories ul {
	margin:0;
	list-style:none;
	padding:0;
}
.sidebar .categories ul li {
	margin:0;
	padding:0;
}
.sidebar .categories ul li a {
	background:url('../images/ico/ico-categories.png') no-repeat left center;
	font-size:22px;
	font-weight:bold;
	padding-left:30px;
}
.sidebar .tags a {
	background:#fff;
	border-radius:4px;
	display:inline-block;
	font-size:12px !important;
	margin:0 7px 7px 0;
	padding:8px 10px;
}
.sidebar .tags a:hover {
	background:#c95151;
	color:#fff;
	text-decoration:none;
}
.sidebar .dates {
	background-color:#fff;
	border:1px solid #c95151;
	border-radius:5px;
}
.sidebar .dates h3 {
	background-color:#c95151;
	color:#fff;
	font-size:18px;
	margin:0;
	padding:10px 12px;
}
.sidebar .dates dl {
	margin:0;
	padding:10px 12px;
}



/**
 * ==================================================
 * PÁGINAS:GERAL ====================================
 * ==================================================
 * 
 * 
 */
.page-box {
	background-color:#fff;
}
.page-box .hentry {
	padding:30px 0;
}
.page-box h1 {
	font-size:24px;
	font-weight:bold;
	margin:0;
	padding-bottom:10px;
}
.page-box h2 {
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding-bottom:10px;
}
.page-box h3 {
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding-bottom:10px;
}
.page-box p,
.page-box ul,
.page-box ol,
.page-box blockquote {
	font-size:16px;
}



/**
 * ==================================================
 * CONTRATE =========================================
 * ==================================================
 * 
 * 
 */
.necessidades-tecnicas {
	background-color:#c95151;
	border-radius:5px;
	color:#fff;
	margin:50px 0 0;
	padding:20px;
}
.necessidades-tecnicas h3 {
	font-size:20px;
}
.necessidades-tecnicas p {
	font-size:14px;
}
.necessidades-tecnicas a {
	background-color:#fdc222;
	border-radius:4px;
	color:#c95151;
	display:inline-block;
	font-weight:bold;
	padding:14px 18px;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
}



/**
 * ==================================================
 * FICHA TÉCNICA ====================================
 * ==================================================
 * 
 * 
 */
.profiles-box {
	background:url('../images/bg-pattern-2.png') repeat bottom left;
	padding-top:40px;
	padding-bottom:10px;
	text-align:center;
}
.profiles-box .profiles-title {
	font-size:22px;
	font-weight:bold;
	margin:0 0 20px;
	padding:0;
}
.profiles-box .profiles-subtitle {
	font-size:16px;
	margin:-10px 0 20px;
	padding:0;
}
.profiles-box .profile-item {
	margin-top:20px;
	margin-bottom:20px;
}
.profiles-box .profile-item .profile-photo img {
	border:3px solid #fff;
	border-radius:50%;
	display:block;
	margin:0 auto;
	width:155px;
}
.profiles-box .profile-item .profile-name {
	font-size:22px;
	font-weight:bold;
	margin:30px 0 5px;
}
.profiles-box .profile-item .profile-function {
	font-size:16px;
	margin:5px 0 0;
}
.profiles-box .profile-item .profile-text {
	font-size:13px;
}
.profiles-box .separator {
	clear:both;
}
@media screen and (max-width:767px) {
	.profiles-box .profile-item {
		margin:40px 0;
	}
}

/* creators */
.profiles-box .profile-item.profile-creators .profile-photo img {
	border:5px solid #c95151;
	width:242px;
}
@media screen and (min-width:992px) {
	.profiles-box .profile-item.profile-creators .profile-text {
		margin:0 30px;
	}
}

/* cast */
.profiles-cast {
	background:#c95151;
	color:#fff;
}
.profiles-cast .profile-name {
	color:#ffbb00;
}

/* technicians */
.profiles-technicians {
	background:url('../images/bg-pattern-1.png') repeat top left;
}

/* author */
.profiles-author {
	background:#c95151;
	color:#fff;
}
.profiles-author .profile-item.profile-author .profile-photo img {
	border:5px solid #fff;
	width:242px;
}



/**
 * ==================================================
 * FOTOS ============================================
 * ==================================================
 * Utilizando o padrão do plugin salvatore
 * 
 */
.fotos-box {
	background:url('../images/bg-pattern-2.png') repeat top left;
}
.fotos-box .photos-list {
	margin-top:25px;
	margin-bottom:25px;
}
@media screen and (min-width: 992px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (max-width: 991px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

.photo-item .inner {
	background:#fff;
	border:1px solid #eee;
	margin:1px;
	padding:10px;
}
.photo-single .photo,
.photo-item .inner .photo {
	position:relative;
}
.photo-single .photo .download,
.photo-item .inner .photo .download {
	background:rgba(255, 255, 255, 0.8) url('../images/ico/ico-photo-download.png') no-repeat 6px center;
	border-radius:4px;
	font-size:11px;
	padding:4px 7px 6px 30px;
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:1;
}
.photo-single .photo img,
.photo-item .inner .photo img {
	width:100%;
}
.photo-item .inner .caption {
	color:#c95151;
	font-size:13px;
	margin-top:8px;
}
.photo-item .inner .caption p {
	margin:0;
}
.photo-item .inner .caption .download {
	display:none;
}
.fotos-box .pagination-photos {
	
}
.fotos-box #photos-masonry {
	
}
/* legenda do lightbox */
.pswp__caption__center {
	color:#fff;
	font-size:13px;
	text-align:center;
}
.pswp__caption__center a {
	color:#ffbb00;
	display:block;
	text-decoration:underline;
}



/**
 * ==================================================
 * PHOTO SINGLE =====================================
 * ==================================================
 * 
 * 
 */
.photo-single {
	background-color:#fff;
	margin:0 0 25px;
	padding:20px;
}
.photo-single h1 {
	margin:0 0 10px;
}
.photo-single .caption {
	margin:20px 0 0;
}




/**
 * ==================================================
 * FORMS ============================================
 * ==================================================
 * 
 * 
 */
.form-group label {
	cursor:pointer;
}
.form-control {
	border-color:#ffbb00;
	color:#c95151;
}
.form-control:focus {
	border-color:#ffbb00;
	box-shadow: inset 0 1px 1px rgba(255, 187, 0, 0.075), 0 0 8px rgba(255, 187, 0, 0.6);
}
.contato-box {
	background:url('../images/bg-pattern-2.png') repeat top left;
}
#formulario-fale-conosco {
	margin-top:30px;
	margin-bottom:30px;
	padding:15px;
}
form .has-error {
	background-color:#f2dede;
	padding-top:10px;
	padding-bottom:10px;
}
form > .alert {
	margin-right:-15px;
	margin-left:-15px;
}
form .input_submit {
	background-color:#c95151;
	border-color:#c95151;
	color:#fff;
}
form .input_submit:hover, 
form .input_submit:focus {
	background-color:#ffbb00;
	border-color:#c95151;
	color:#c95151;
}
form textarea.form-control {
	height:140px;
}



/**
 * ==================================================
 * LONGDESC =========================================
 * ==================================================
 * 
 * 
 */
body.attachment.single {
	padding:10px;
}
body.attachment.single figure {
	
}
body.attachment.single figure h1 {
	margin:0;
}



/**
 * ==================================================
 * FOOTER ===========================================
 * ==================================================
 * 
 * 
 */
#footer {
	background-color:#ffbb00;
	color:#fff;
}
#footer a {
	color:#fff;
}
#footer a:hover {
	color:#c95151;
}
#footer blockquote,
#footer blockquote p {
	border:0;
	font-size:12px;
	padding:0;
}
#footer blockquote em {
	display:block;
	font-size:11px;
	font-weight:normal;
	margin-top:10px;
}
#footer .nav-footer {
	font-size:12px;
	font-weight:bold;
}


/**
 * ==================================================
 * BREAKPOINT DESKTOP LARGE =========================
 * ==================================================
 * 
 * 
 */
@media only screen and (min-width: 1200px) {
	body {
		padding-top:118px;
	}
	#logo-header {
		background-image:url('../images/e-proibido-miar-logo-large.png');
		height:88px;
		margin:15px;
		width:340px;
	}
	#menu-principal {
		margin-top:40px;
	}
}



/**
 * ==================================================
 * BREAKPOINT DESKTOP SMALL =========================
 * ==================================================
 * 
 * 
 */
@media only screen and (max-width: 1199px) {
	body {
		padding-top:100px;
	}
	.navbar-brand {
		width:310px;
	}
	#logo-header {
		background-image:url('../images/e-proibido-miar-logo-large.png');
		height:70px;
		margin:15px;
		width:260px;
	}
	#menu-principal {
		margin-top:30px;
	}
	#sobre-chamadas-secundarias {
		margin-top:-10px;
	}
}



/**
 * ==================================================
 * BREAKPOINT MEDIUM ================================
 * ==================================================
 * 
 * 
 */
@media only screen and (max-width: 991px) {
	body {
		padding-top:155px;
	}
	#logo-header {
		float:none;
		margin:15px auto;
	}
	.navbar-header {
		float:none;
	}
	#menu-principal {
		margin:0 0 15px;
	}
	#sobre-chamadas-secundarias {
		margin-top:0;
	}
}



/**
 * ==================================================
 * BREAKPOINT SMALL =================================
 * ==================================================
 * Monstra o menu hamburguer
 * 
 */
@media only screen and (max-width: 767px) {
	body {
		padding-top:64px;
	}
	#logo-header {
		background-image:url('../images/e-proibido-miar-logo-small.png');
		float:left;
		height:34px;
		margin:15px;
		width:195px;
	}
	.navbar-collapse {
		padding:0;
	}
	#sponsors blockquote img {
		display:block;
		margin:0 auto;
	}
	#img-sobre {
		float:none;
		margin:0 auto;
	}
	#chamada-1 {
		font-size:20px;
		margin:10px 0;
	}
	#chamada-2 {
		margin:10px 0;
	}
	#chamada-3 {
		padding:0;
	}
	#chamada-3 .ico {
		position:relative;
		top:0;
		left:0;
		margin:0 auto;
	}
}









