
#header-top {
	background:url('../images/bg-pattern-1.png');
	height:200px;
}
#header-top2 {
	background:url('../images/bg-pattern-2.png');
	height:200px;
}
#header-top3 {
	background:url('../images/bg-pattern-1.png');
	height:200px;
}